<div class="container">
  <div class="card w-100 bg-none">
    <div class="row">
      <div class="col">
        <div class="text-right w-100">
          <button class="mr-1" (click)="toggleViews(0)" [disabled]="isEditingUser"
            [class]="isAddUser?'btn':'btn-outline'">
            Add User
          </button>
          <button class="mr-1" (click)="toggleViews(1)" [disabled]="isEditingUser"
            [class]="isSearchUser?'btn':'btn-outline'">
            Search User
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card w-100 my-3 pt-1" *ngIf="isAddUser || isEditingUser">
    <h2 class="heading">
      {{selectedUser._id ? "Edit":"Enter New"}}
      User
    </h2>
    <hr>
    <form [formGroup]="userForm" (ngSubmit)="submitUser()">
      <div class="row">
        <div class="col">
          <div class="form-input">

            <label for="fname">
              First Name
              <span class="error" *ngIf="userForm.controls['fname'].errors && !userForm.controls['fname'].pristine">
                Invalid Fist Name
              </span>
            </label>
            <input type="text" formControlName="fname" id="fname">
          </div>
        </div>
        <div class="col">
          <div class="form-input">
            <label for="lname">
              Last Name (optional)
            </label>
            <input type="text" formControlName="lname" id="lname">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-input">
            <label for="gender">
              Gender
            </label>
            <select id="gender" formControlName="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-input">
            <label for="email">
              Email ID
              <span class="error" *ngIf="userForm.controls['email'].errors && !userForm.controls['email'].pristine">
                Invalid Email Address
              </span>
            </label>
            <input type="email" id="email" formControlName="email">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-input">
            <label for="state">
              State
              <span class="error" *ngIf="userForm.controls['state'].errors && !userForm.controls['state'].pristine">
                Invalid State
              </span>
            </label>
            <input type="text" id="state" formControlName="state">
          </div>
        </div>
        <div class="col">
          <div class="form-input">
            <label for="city">
              City
              <span class="error" *ngIf="userForm.controls['city'].errors && !userForm.controls['city'].pristine">
                Invalid City
              </span>
            </label>
            <input type="text" id="city" formControlName="city">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-right p-2">
          <button *ngIf="!selectedUser._id" type="reset" class="btn-outline mr-1">
            Reset
          </button>
          <button *ngIf="selectedUser._id" (click)="resetEdit()" class="btn-outline mr-1">
            Cancel Edit
          </button>
          <button class="btn" type="submit" [disabled]="userForm.invalid">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="card w-100 my-3" *ngIf="isSearchUser">
    <div class="row">
      <div class="col">
        <div class="form-input">
          <input type="text" placeholder="Search user by name..." [(ngModel)]="searchBy">
          <br>
          <div class="text-right">
            <button type="button" (click)="isSearching = false" class="btn-outline mr-1">
              Reset Search
            </button>
            <button class="btn" (click)="searchUser()" type="button" [disabled]="!searchBy">
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="listing">
    <thead class="head">
      <tr>
        <th>#</th>
        <th class="pointer" (click)="sortBy('name')">
          Name
          <span *ngIf="currentSort=='name'">
            {{ sortDirection==-1 ? "&#8593;" : "&#8595;"}}
          </span>
        </th>
        <th class="pointer" (click)="sortBy('email')">
          Email
          <span *ngIf="currentSort=='email'">
            {{ sortDirection==-1 ? "&#8593;" : "&#8595;"}}
          </span>
        </th>
        <th class="pointer" (click)="sortBy('gender')">
          Gender
          <span *ngIf="currentSort=='gender'">
            {{ sortDirection==-1 ? "&#8593;" : "&#8595;"}}
          </span>
        </th>
        <th class="pointer" (click)="sortBy('state')">
          State
          <span *ngIf="currentSort=='state'">
            {{ sortDirection==-1 ? "&#8593;" : "&#8595;"}}
          </span>
        </th>
        <th class="pointer" (click)="sortBy('city')">
          City
          <span *ngIf="currentSort=='city'">
            {{ sortDirection==-1 ? "&#8593;" : "&#8595;"}}
          </span>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="body" *ngIf="!loading">
      <ng-container *ngFor="let item of isSearching ? found : userList;let i=index">
        <tr>
          <td>{{i+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.gender}}</td>
          <td>{{item.state}}</td>
          <td>{{item.city}}</td>
          <td>
            <button class="btn" type="button" (click)="item.isOpen = !item.isOpen">
              {{item.isOpen?"Hide":"Show"}} Details
            </button>
          </td>
        </tr>
        <tr *ngIf="item.isOpen">
          <td colspan="7">
            <div class="card">
              <div class="row">
                <div class="col">
                  <div class="image">
                    <img [src]='item.gender == "Male" ? "../assets/image/male.png" :"../assets/image/female.png"'
                      alt="user">
                  </div>
                </div>
                <div class="col">
                  <table>
                    <tr>
                      <th>
                        Name
                      </th>
                      <td>
                        {{item.name}}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Email ID
                      </th>
                      <td>
                        {{item.email}}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Gender
                      </th>
                      <td>
                        {{item.gender}}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Address
                      </th>
                      <td>
                        {{item.city}}, {{item.state}}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="text-right pr-2">
                <button (click)="deleteUser(item)" class="btn-outline mr-1">
                  Delete
                </button>
                <button (click)="setEdit(item)" class="btn">
                  Edit User
                </button>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <div *ngIf="loading" class="card w-100 my-3">
    <h1 class="text-center">
      Loading...
    </h1>
  </div>
  <div *ngIf="isSearching && found.length ===0" class="card w-100 my-3">
    <h1 class="text-center">
      No Result Found
    </h1>
  </div>
</div>
<div class="modal" *ngIf="isModalOpen">
  <div class="card">
    <img src="../assets/image/done.png" alt="Done" class="success">
    <h3>
      Success
    </h3>
    <p>
      User {{this.selectedUser._id ? "Updated":"Added"}} Successfully
    </p>
    <button class="btn" (click)="isModalOpen=false;resetEdit()" type="button">
      Close
    </button>
  </div>
</div>